*.user
*.suo
*.docstates
MoronBot-Executable/*
/*/*/obj/*
/*/bin/*
/*/*/bin/*
*/debug/*
*.sdf
*.pidb
*.userprefs
*.resources
*.exe

MoronBot-PythonInterfaceOnly/*
*.zip
*.pyc
MoronBot-PythonDev/*
*.opensdf
*.tgz
