<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Server>127.0.0.1</Server>
  <Port>6667</Port>
  <Channel>#tyranic-moron</Channel>
  <Nick>MoronBot</Nick>
  <LeaveMessage>Leaving</LeaveMessage>
  <QuitMessage>Quitting</QuitMessage>
  <Owner>Tyranic-Moron</Owner>
  <IgnoreList>
    <string>MORONBOT</string>
  </IgnoreList>
  <ShowForm>false</ShowForm>
  <ExcludedFunctions>
    <string>KrozeStalker</string>
    <string>RandomKicker</string>
  </ExcludedFunctions>
</Settings>